// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.program{
  background-color: #bdbebe;
  border-radius: 20px;
  text-align: left;
  overflow: hidden;
  opacity: 0.5;
}

.program:hover{
  opacity: 1;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-program{
  text-align: center;
}

.text-program, .title-program{
  margin: 5px;
  padding: 5px;
}

.text-program{
  font-size: 18px;
  text-align: justify;
}

.validation_messages{
  font-size: 13px;
  padding: 20px;
}

.buttons_class{
    float: right;
    margin: 15px;

}

#image_id{
  position: relative;
  height: 200px;
}

#new_program_button{
  background-color: #bdbebe;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.program_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
