// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-logos{
  height: 40px;
  width: 40px;
  padding: 10px;
}

#main-text{
  text-align: center;
  font-size: 3vw;
  margin: 18%;
  color: rgb(200, 197, 213);
}

#main-button{
  border: 0px;
  color: inherit;
  background-color: inherit;
  font-size: 2vw;
  text-decoration: none ;
  color: inherit;
}

#main-button:hover{
  background-color: rgb(56, 55, 57);
}
