<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div id="main-text">
        <p><strong>So you wanna become a better version of yourself?</strong></p>

        <%= link_to "Yes, let's do this.", programs_path, id: "main-button" %>
      </div>  
    </div>

  </body>
</html>
